<!DOCTYPE html>
<html>
<head>
	<title>Curriculum Vitae</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="images/curriculum.jpg">
	<link rel="stylesheet" type="text/css" href="curriculum.css">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200&family=Water+Brush&display=swap" rel="stylesheet">
	 <script src="https://kit.fontawesome.com/0e19251887.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="flex-contenedor">
	<div class="flex-perfil">
	<div class="imagen">
		<div><img src="images/gabriel.jpg" class="imagen"></div>
	</div>
	<h1>Jose G Toro S</h1>
	<div class="decoration">
		<div class="decoration-titulo"></div>
		<div><h3>PERFIL</h3></div>
	</div>
	<p >
		<b>Nombres:</b> Jose Gabriel
		<br>
		<b>Apellidos:</b> Toro Seijas
		<br>
		<b>Cedula de Identidad Nº:</b> 27.695.774
		<br>
		<b>Nacionalidad:</b> Venezolano
		<br>
		<b>Lugar de Nacimiento:</b> San Juan de los Morros, Municipio Juan German Roscio, Estado Guarico, Venezuela.
		<br>
		<b>Fecha de Nacimiento:</b> 18 de Agosto de 2000
		<br>
		<b>Estado Civil:</b> Soltero
		<br>
		<b>Direccion de Domicilio:</b> Sector la Morera, Calle Union Nº32, San Juan de los Morros,
		Municipio Juan German Roscio, Estado Guarico, Venezuela.
	</p>
		<div class="decoration">
		<div class="decoration-titulo"></div>
		<div><h3>CONTACTO</h3></div>
		</div>
		<p>
		<i class="fa-solid fa-envelope"></i> <b>josegtoro10@gmail.com</b>
		<br>
		<i class="fa-brands fa-whatsapp"></i> <b>+584124765054</b>
		<br>
		<i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/josegabriel.toro.56" target="__brank"><b>josegabriel.toro.56</b></a>
		<br>
		<i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/josegabriel.toro/" target="__brank"><b>josegabriel.toro</b></a>
		</p>
	</div>

		<div class="flex-datos">
		<div class="decoration2">
		<div class="decoration-titulo2"></div>
		<div><h3>DATOS ACADEMICOS</h3></div>
		</div>
		<p>
			2002-2006.<b> Educacion Inicial.</b>Preescolar "Los Llaneritos", San juan de los Morros,
			Estado Guarico. Venezuela.
			<br><br>
			2006-2012.<b> Educacion Basica.</b>Unidad Educativa "Gabriela Mistral", San Juan de los Morros, Estado Guarico. Venezuela.
			<br><br>
			2012-2017.<b> Educacion Media General.</b>Unidad Educativa "Gabriela Mistral", San Juan de los Morros, Estado Guarico. Venezuela.<b>Titulo Obtenido:</b> Bachiller en Ciencias.
			<br><br>
			2020-Actualmente.<b> Educacion Superior.</b>Universidad Nacional Experimental de los Llanos Centrales Romulo Gallegos, San Juan de los Morros, Estado Guarico. Venezuela. En la Carrera de Ingeniera en Informatica.
		</p>
		<div class="decoration2">
		<div class="decoration-titulo2"></div>
		<div><h3>CURSOS</h3></div>
		</div>
		<p>
			<b>Curso de Matematica Financiera.</b>Centro Empresarial Tecnico de Petroleo y Gas, San Juan de los Morros, Estado Guarico. Venezuela. 24Horas, 2020.
			<br><br>
			<b>Curso de Impuesto Sobre La Renta.</b>Centro Empresarial Tecnico de Petroleo y Gas, San Juan de los Morros, Estado Guarico. Venezuela. 24Horas, 2020.
		</p>
		<div class="decoration2">
		<div class="decoration-titulo2"></div>
		<div><h3>EXPERIENCIA LABORAL</h3></div>
		</div>
		<p>
			Ventas
			<br>
			Atencion al Publico.
		</p>
	<div class="decoration2">
		<div class="decoration-titulo2"></div>
		<div><h3>HABILIDADES Y DESTREZAS</h3></div>
		</div>	
			<p>
			<div>
			<i class="fa-brands fa-html5"></i><b>HTML</b>
			  <progress value="55" max="100" class="barra">
			</div>
			<br>
			<div>
			<i class="fa-brands fa-css3-alt"></i><b>CSS</b>
			  <progress value="35" max="100" class="barra">
			</div>
			<br>
			<div>
			<i class="fa-solid fa-desktop"></i><b>MANTENIMIENTO</b>
			   <progress value="35" max="100" class="barra">
			</div>
			</p>
	</div>
</div>
<br><br><br>
	<div class="flex-formulario">
	<div class="contacto-formulario">
		<h3 class="h3-formulario">CONTACTO</h3>
		<p class="p-formulario">
		<i class="fa-solid fa-phone" id="icono3"></i> <b>+584124765054</b>
		<br>
		<i class="fa-solid fa-location-dot" id="icono3"></i> <b>San Juan de los Morros, Estado Guarico, Venezuela.</b>
		<br><br>
		<a href="https://www.facebook.com/josegabriel.toro.56" target="__brank"><i class="fa-brands fa-facebook" id="icono1"></i></a>
		<a href="https://www.instagram.com/josegabriel.toro/" target="__brank"><i class="fa-brands fa-instagram" id="icono2"></i></a>
		</p>
	</div>
	<div class="formulario">
		<form method='post'action='/'class="form">
		         <div class="form__section">
		         	 <input class="form_input" name='email' type="email" placeholder="Ingrese su Email" value="<%= ct.email%>" required="true">
                    <input class="form_input" name='nombre' type="text"  placeholder="Ingrese su Nombre" value="<%= ct.nombre%>" required="true">
                    <input class="form_input"  name='comentario' type="text" placeholder="Comentario" value="<%= ct.comentario%>" required="true">
                    <input type="hidden" value="<%= ct.ip%>"/>
                    <input type="hidden"  value="<%= ct.fecha%>">
		         	<input type="submit" class="form__input" value="Enviar">
		         </div>
	  </form>
	</div>
</div>
</body>
</html>